{% extends "product/base.html" %}
{% block content %}
<!-- INTRO -->
<div class="intro">
    <div class="container text-center"><h1>Здесь должно быть интро, но оно заболело :(</h1></div>
</div>

<!-- NEWS-PRODUCTS -->
    <div class="card card-item">
        <div class="text-center">
            <div class="card-header card-header-item">
                <h1>Новинки</h1>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row">
      {% for product_photo in products %}
        <div class="col-sm-3">
            <div class="card text-center h-100 card-item">
                <div class="card-header card-headers-items">{{ product_photo.product.cat }}</div>
                <a href="{{ product_photo.product.get_absolute_url }}">
                    <img src="{{ product_photo.photo.url }}" class="card-img-top" alt="" >
                </a>
                  <div class="card-body">
                    <h5 class="card-title">{{ product_photo.product.name }}</h5>
                    <p class="card-text">{{ product_photo.product.price }} ₽</p>
                      <form action="{% url 'cart_add' product_photo.product.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-dark" value="Добавить в корзину">
                      </form>
                  </div>
            </div>
        </div>
      {% endfor %}
      </div>    <!-- endrow -->
    </div>    <!-- endcontainer -->

<!-- CATEGORY -->
    <div class="card card-item">
        <div class="text-center">
            <div class="card-header card-header-item">
                <h1>Товары по категориям</h1>
            </div>
        </div>
      <div class="row">
      {% for c in cats %}
        <div class="col-sm-3">
            <div class="card text-center h-100 card-item">
                  <div class="card-body">
                    <h5 class="card-title cat-title">{{ c.name }}</h5>
                        <a href="{{ c.get_absolute_url }}">
                            <img src="{{ c.image.url }}" class="card-img-bottom cat-img" alt="">
                        </a>
                  </div>
            </div>
        </div>
      {% endfor %}
      </div>    <!-- endrow -->
    </div>    <!-- endcard -->
{% endblock %}