{% extends "product/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            {% for photo_item in product_one.productimage_set.all %}
            <div class="product-image-item">
                <img src="{{ photo_item.photo.url }}" class="card-img-top">
            </div>
            {% endfor %}
        </div> <!--col-lg-6-->
        <div class="col-lg-6">
            <h1 class="text-center">
                {{ product_one.name }}
            </h1>
            <div class="">
                <p>Цена: {{ product_one.price }}</p>
            </div>

            <!--forms-->
            <div class="input-group group-item">
              <input type="number" class="form-control" placeholder="Введите количество" aria-label="">
              <button class="btn btn-outline-success" type="button">Добавить в корзину</button>
            </div>
            <!--endforms-->

            <!--tabs-->
            <div>
                <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        Описание</button>
                    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Доставка</button>
                    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
                    <button class="nav-link" id="nav-disabled-tab" data-bs-toggle="tab" data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled" aria-selected="false" disabled>Disabled</button>
                  </div>
                </nav>
                <div class="tab-content product-description-tabs" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                      {{ product_one.description }}
                  </div>
                  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
                      <h3>Как мы делаем доставку?</h3>
                  </div>
                  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">...</div>
                  <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="nav-disabled-tab" tabindex="0">...</div>
                </div>
            </div>
            <!--endtabs-->
        </div> <!--col-lg-6-->
    </div>  <!--row-->
</div>  <!--container-->
{% endblock %}