.html, body {

}

.card-item {
    border: none;
}

.card-header-item {
    background-color: #e3dede;
    border-bottom: none;
    --bs-card-inner-border-radius: none;
    color: black;
    margin: 20px 0;
}

.card-headers-items {
    background-color: white;
    border-bottom: none;
}

.clr {
    background: #e3dede;
    margin-top: 20px;
}

.nav-link-item {
    color: black;
    --bs-nav-link-hover-color: #757575;
}

.nav-1 {
    font-size: 2rem;
}

.border-top {
    --bs-border-color: black;
}

.navbar {
    background-color: #e3dede;
}

.nav-link-navbar {
    color: black;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.nav-first {
    margin-left: 40px;
}

.form-center {
    margin-right: 40px;
}

.nav-item {
    margin: 0 10px;
}

.carousel-container {
    margin: 20px;
}

.header-product {
    margin-top: 20px;
}

.product-description-tabs {
    margin-top: 20px;

}

.nav-link-tabs {
    --bs-nav-link-color: #757575;
    --bs-nav-link-hover-color: black;
}

.card-header {
    --bs-card-cap-bg: #e3dede;
    --bs-card-cap-bg: none;
}

.rounded-start {
    --bs-border-radius: none;
}

.parent-item {
    padding-left: 40px;
}

.btn-custom {
    color: black;
    text-decoration: none;
    --bs-link-hover-color: #757575;
}